@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

.black-ops-one-regular {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue-grey: #2C3E50; /* Dark Blue-Grey */
    --lighter-dark-blue-grey: #4A5B71; /* Lighter Dark Blue-Grey */
    --slightly-darker-grey: #D5D8DC; /* Slightly Lighter Grey */
    --font-family: 'Arial', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: var(--font-family);
    background-color: var(--lighter-dark-blue-grey); /* Steel Blue */
    color: var(--slightly-darker-grey); /* Slightly Darker Grey */
    
}

.loading {
    background-color: var(--dark-blue-grey); /* Lighter Dark Blue-Grey */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.loading img {
    width: 200px;
}

.Global_Container {
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav 
{
    width: 100%;
    height: 100px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: rgba(240, 240, 240, 0.5) 1px solid;
}

.nav_Container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 100px;
}


.navLinks {
    display: flex;
    justify-content: space-between;
    width: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navLinks li a{
    text-decoration: none;
    color: var(--slightly-darker-grey);
    font-weight: bold;
    font-size: 20px;
}

header {
    border-bottom: white 1px solid;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
}

.innerHeroText
{
    margin-top: 75px;
    pointer-events: none;
}

.innerHeroText h1
{
    font-family: 'Black Ops One', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.breakLineImg
{
    width: 100%;
    height: 200px;
    background-image: url('../../../Images/people.png');
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: white 1px solid;
    background-size: cover;
}

section
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue-grey);
    border-bottom: white 1px solid;
}

.about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 600px;
}

.tradeMark
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 1200px;
    height: 100vh;
}
.aboutText_Container
{
    width: 50%;
}
.aboutTextTitle
{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.tradeMark img
{
    border-radius: 999999px;
}

#HTML {
    color: #E34C26; /* HTML orange */
}

#CSS {
    color: #264DE4; /* CSS blue */
}

#JavaScript {
    color: #F7DF1E; /* JavaScript yellow */
}

#PHP {
    color: #777BB4; /* PHP purple */
}

#SQL {
    color: #F29111; /* SQL orange */
}

#C\# {
    color: #178600; /* C# green */
}

.framework {
    color: #06B6D4; /* Tailwind CSS cyan */
}

.framework:nth-of-type(2) {
    color: #7952B3; /* Bootstrap purple */
}

.tool {
    color: #F05032; /* Git/GitHub orange */
}

.tool:nth-of-type(2) {
    color: #0079BF; /* Scrum blue */
}

.whatIDo
{
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 500px;
}

.whatIDoTitle
{
    margin-bottom: 25px;
}

#hiddenFront  {
    display: none;
}

#hiddenBack {
    display: none;
}

#hiddenOther {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 250px;
    align-items: center;
    margin-top: 20px;
}

.btn {
    width: 75px;
    height: 20px;
    border-radius: 50px;
    border: white 1px solid;
    cursor: pointer;
    background-color: var(--dark-blue-grey);
    color: white;
}

.btn:hover {
    background-color: var(--lighter-dark-blue-grey);
    transition: ease-in-out 0.3s;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card img {
    width: 50%;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
}

footer img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: var(--lighter-dark-blue-grey);
}

.Contact_Icons a {
    text-decoration: none;
    color: var(--slightly-darker-grey);
    font-size: 20px;
    margin: 0 10px;

}

.Contact_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}